*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    /* color: #fff; */
}
a i{
    /* color: #fff; */
}
:root{
    --primary-white:#fff;
    --secondary-grey:#b8b4b4;
    --btn-bg: linear-gradient(90deg, rgba(96,76,163,1) 35%, rgba(147,66,145,1) 65%);
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
#root{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(96,76,163,1) 35%, rgba(147,66,145,1) 65%); 
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    background: rgb(255, 255, 255,.2);
    padding: 2em;
    border-radius: .4em;
}
.form{
    color: #505a5f;
    background: #ffffff;
    border-radius: .4em;
    padding: 2em;
}
.form h1{
    text-align: center;
    margin: .5em;
}
.error-message{
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
}
.input{
    height: 3em;
    width: 20em;
    outline: none;
    border: 1px solid #dbddde;
    border-radius: .4em;
    margin-bottom: 1em;
    padding: .5em;
}
#password{
    margin: 0;
}
#login{
    height: 3em;
    width: 20em;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(96,76,163,1) 35%, rgba(147,66,145,1) 65%); 
    border: none;
    border-radius: .4em;
    margin-bottom: 1em;
    cursor: pointer;
}
.password-container{
    position: relative;
    margin-bottom: 1em;
}
.icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5em;
    cursor: pointer;
}
header{
    padding: 1em 1em;
    box-shadow: 0em .5em 1em  var(--secondary-grey);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout{
    color: var(--primary-white);
    background: var(--btn-bg); 
    padding: 0.5em 1em;
    border-radius: .5em;
}